.car-card {
    display: flex;
    background-color: #ddecfc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: 2rem auto;
  }
  
  .car-image {
    width: 40%;
    object-fit: cover;
  }
  
  .car-info {
    padding: 20px;
    flex-grow: 1;
    position: relative;
    background-color: #ddecfc;
  }
  
  .car-title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .car-subtitle {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 30px;
  }
  
  .car-price {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  
  .car-location {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .car-mileage {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .car-mileage img {
    width: 40px;
    margin-right: 10px;
  }