body {
  background-color: #DEECFC;
  padding: 10rem;
  padding-top: 0%;
  font-size: 1.2rem;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B9CEEB;
}
  
li {
    float: left;
}

/* text at navigation bar */
li a {
    display: block;
    color: #201E43;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Monaco";
}

/* color of navigation bar when hover*/
li a:hover {
    background-color: #DEECFC;
}

* {box-sizing:border-box}

img {
  border-radius: 10px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EEEEEE;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-family: "Monaco";
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #87A8D0;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Monaco";
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "Monaco";
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* table inside cells*/
td {
  color: #EEEEEE; 
  font-family: "Monaco";
}

/* table header */ 
th {
  color: #87A8D0; 
  font-family: "Monaco";
}

/* history section */
.container {
  max-width: 2000px;
  margin: 40px auto;
  background: #B9CEEB;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #201E43;
  text-align: center;
  font-size: 28px;
  font-family: "Monaco";
}

h2 {
  color: #134B70;
  font-size: 22px;
  margin-top: 20px;
  font-family: "Monaco";
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: #134B70;
  text-align: center;
  font-family: "Monaco";
  font-weight: bold;
}

.highlight {
  font-weight: bolder;
  color: #201E43;
  font-family: "Monaco";
}

/* history photos */
.history98_04 {
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  margin: auto; 
}

.photoHistory9804class {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  max-width: 900px; 
  height: auto; 
}

.photoHistory9804Middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 10px;
  border-radius: 5px;
}

.history98_04:hover .photoHistory9804Middle {
  opacity: 1; 
}

.history98_04:hover .photoHistory9804class {
  opacity: 0.3; 
}

.photoHistory9804text {
  color: #134B70;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Monaco";
}

.animated-text {
  font-size: 30px;
  font-weight: bold;
  color: #201E43; /* Culoarea textului */
  display: inline-block; /* Rămâne pe aceeași linie */
  opacity: 0; /* Inițial ascuns */
  animation: fadeInSlide 2s ease-in-out forwards;
  text-align: center;
}

/* Animația de apariție și alunecare ușoară */
@keyframes fadeInSlide {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.centerImage{
  text-align: center;
}

.formLogIn {
  max-width: 2000px;
  margin: 40px auto;
  background: #DEECFC;
  margin-inline: 20rem;
  border-radius: 10px;
}

.formLogIn label{
  font-size: 20px;
  line-height: 3rem;
  color: #134B70;
  text-align: center;
  font-family: "Monaco";
  font-weight: bold;
}

.formLogIn input{
  background-color: #DEECFC;
  color: #134B70;
  border: 0.1rem solid #201E43;
  border-radius: 0.3rem;
  width: 80%;
  margin-inline: 4rem;
}

.formLogIn textarea{
  background-color: #DEECFC;
  color: #134B70;
  border: 0.1rem solid #201E43;
  border-radius: 0.3rem;
  width: 80%;
  margin-inline: 4rem;
}

.submitButton {
  background-color: #DEECFC;
  color: #134B70;
  margin-inline: 40px;
  text-align: center;
}
.medianMenu {
  background-color: #DEECFC;
  color: #134B70;
  /* max-width: fit-content;
  margin-inline: auto; */
}